$orange: rgb(277, 108, 10);

.resume-wrapper {
  text-align: justify;
  background-color: #fff;
  overflow: hidden;

  .resume-body {
    .highlight {
      color: $orange;
    }
    .project {
      font-weight: 500;
    }
  }

  .bio {
    background-color: rgb(242, 242, 242);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .resume-wrapper {
    text-align: left;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .resume-wrapper {
    .period {
      text-align: right;
    }
    .headings {
      text-align: right;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
