@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.mb5 {
  margin-bottom: 5px;
}